.gitattributes text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.zsh text eol=lf
.github/scripts/** text eol=lf
build-aux/.functions/* text eol=lf
build-aux/.run-format.zsh text eol=lf
build-aux/run-clang-format text eol=lf
build-aux/run-gersemi text eol=lf
build-aux/run-swift-format text eol=lf
